<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/95395b639e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main-body">

    <nav class="main-nav flip-background">
        <input type="checkbox" class="checkbox" id="check">
        <label for="check" class="checkbtn">
            <mat-icon style="color: black;">reorder</mat-icon>
        </label>
        <label class="logo">Logo</label>
        <ul class="list">
            <li class="li-l"><a class="active" href="#">Programm & Tickets</a></li>
            <li class="li-l"><a class="active" href="#">Events</a></li>
            <li class="li-l"><a class="active" href="#">Angebote</a></li>
            <li class="li-l"><a (click)="navigate()" class="active log-in" >Anmeldung</a></li>
        </ul>
    </nav>
    
    <app-body-comp></app-body-comp>
</div>

</body>
</html>