<div class="main-container">
    <div class="main-wrapper">
        
        <div class="Information-container">
            <div class="title-wrapper">
                <h1>Vielen Dank für Ihre Buchung!</h1>
            </div>
            <div class="information-wrapper">
                <span>Sie haben den Film ... gebucht!</span>
                <span>Sie haben die folgenden Sitze:</span>
            </div>
            <div class="ticket-wrapper">
               
            </div>
        </div>

        <!-- <div class="title-wrapper">
            <div class="h2">Vielen Dank für Ihre Buchung!</div>
        </div>
    
        <div class="text-wrapper">
           <p> Sie haben die Plätze:  </p>
            <div *ngFor="let temp of selectedSeats; let i = index" >
                <span>
                    {{temp}}             
                   </span>
            </div>


         </div> -->

    </div>
</div>