<div class="main-container">
    <div class="main-wrapper">
        
        <div class="chose-button-wrapper">
            <div class="gast-button-wrapper">
                <button class="gast-btn">Gast</button>
            </div>

            <div class="log-in-wrapper">
                <button class="log-in-btn">Log In</button>
            </div>

            
            <div class="register-wrapper">
                <button class="register-btn">Register</button>
            </div>
        </div>

        <!-- <div class="title-wrapper">
            <div class="h2">Vielen Dank für Ihre Buchung!</div>
        </div>
    
        <div class="text-wrapper">
           <p> Sie haben die Plätze:  </p>
            <div *ngFor="let temp of selectedSeats; let i = index" >
                <span>
                    {{temp}}             
                   </span>
            </div>

         </div> -->

    </div>
</div>