<div class="main-container">
    <div class="main-wrapper">
        
        <div class="Information-wrapper">
            <div class="title-wrapper">

                <h2>Wichtige Informationen:</h2>
            </div>
            <div class="information-wrapp">
                <p>Anzahl Tickets: </p>
                <p>Film:</p>
                <p>Länge des Film:</p>
                <p>Saal:</p>
                <p>Gebuchten Plätze:</p>
            </div>

            <div class="linie"></div>

            <div class="auswahl-zahlung">
                <div class="bar">
                    Barzahlung
                </div>
                <div class="paypal">
                    paypal
                </div>
            </div>
        </div>

        <!-- <div class="title-wrapper">
            <div class="h2">Vielen Dank für Ihre Buchung!</div>
        </div>
    
        <div class="text-wrapper">
           <p> Sie haben die Plätze:  </p>
            <div *ngFor="let temp of selectedSeats; let i = index" >
                <span>
                    {{temp}}             
                   </span>
            </div>


         </div> -->

    </div>
</div>