<div class="main-body">
    <div class="film-container">
        <div class="cont-titel">
            <h2 class="titel-c">
               Das heutige aktuelle Kinoprogramm
            </h2>

            <button class="btn-cont"><a href="">Weitere Filme ></a></button>
        </div>
        <div class="programm-container">

            <div class="film-wrapper">
                <img src="../../assets/image/film-cover/film1.png" class="film-image" alt="">
                
            </div>
            <div class="film-wrapper">
                <img src="../../assets/image/film-cover/film2.png" class="film-image" alt="">
                
            </div>
            <div class="film-wrapper">
                <img src="../../assets/image/film-cover/film3.png" class="film-image" alt="">
                
            </div>
            <div class="film-wrapper">
                <img src="../../assets/image/film-cover/film4.png" class="film-image" alt="">
                
            </div>
            <div class="film-wrapper">
                <img src="../../assets/image/film-cover/film5.png" class="film-image" alt="">
                
            </div>
            <div class="film-wrapper">
                <img src="../../assets/image/film-cover/film6.png" class="film-image" alt="">
                
            </div>
            <div class="film-wrapper">
                <img src="../../assets/image/film-cover/film7.png" class="film-image" alt="">
                
            </div>
            <div class="film-wrapper">
                <img src="../../assets/image/film-cover/film8.png" class="film-image" alt="">
            </div>
        </div>
            
        </div>
    </div>