<div class="main-container">
    <div class="first-container">
        <h1>

            <span>Programme     </span> 
            <span> und    </span>
            <span> Tickets     </span> <br> <br> <br>
            <span>bei </span>
            <span style="border-bottom: 3px solid rgb(17, 115, 17); padding-bottom: 15px;"> <b>Kino</b><i>Welt </i> </span> 
            <span style="color: rgb(3, 3, 228);"><i class="fa fa-globe"></i></span>
        </h1>
      
    </div>

</div>
<div class="second-container">
    <div class="container">

        <div class="programme">
            <h1 class="title"> Programme </h1>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum ex nulla fugit maxime, perferendis, dicta nesciunt molestias aspernatur atque ea dolor, ipsum impedit error. Deserunt tempora voluptas natus tempore laudantium?
                Autem ut qui corporis similique minima quae dolorum? Consectetur illo iusto voluptatum quae ipsa, tempore in suscipit placeat! Ullam laborum suscipit nostrum excepturi eveniet quo nam laboriosam voluptate sapiente soluta.    </span>
                <br>
                <span> <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet non vitae incidunt dolore, ratione sapiente ea cum? Et vitae repellendus delectus rem sunt, dolores repellat eligendi totam cupiditate id magni.
                    Facere tenetur totam quibusdam dignissimos rerum ut? Iusto id distinctio itaque aliquid saepe perspiciatis quam, accusantium expedita ipsam maxime at, quisquam officia qui adipisci ut eos libero dignissimos minima nihil.
                </span>
                
            </div>
            
            
            <div class="programme">
                <h1 class="title">Tarife</h1>
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe ratione vero recusandae hic cum dolor excepturi dicta pariatur nulla dolorum, culpa maiores, rerum neque! Hic magni itaque laboriosam perspiciatis distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, veritatis alias minima odit sapiente assumenda nostrum repellat rerum modi similique ratione debitis aliquid iste velit harum dolorem aliquam libero. Consequatur. </span>
                <br> <br>
                <span>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione id, tempora recusandae autem velit suscipit veniam accusamus explicabo eligendi cumque molestiae fuga necessitatibus voluptatibus cupiditate, excepturi repellat asperiores reiciendis assumenda?
                    Fugit corrupti sed veniam ea. Dolorum vitae reprehenderit nam nemo animi! Iure officia autem ipsum perspiciatis animi nulla ab exercitationem nostrum corrupti, voluptas repellat voluptatem perferendis atque consectetur aut dolore.
                    Temporibus debitis commodi expedita qui dolorem cumque sunt eveniet hic veritatis suscipit aliquam quia provident ipsa magni necessitatibus nobis laudantium, voluptatem nostrum illo nam excepturi quo dignissimos architecto saepe? Nulla?    
                </span>
                
            </div>
            
        </div>
            <div class="button">
                <button>Zurück zu Hauptmenü</button>
            </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">