@import url('https://fonts.cdnfonts.com/css/poppins');
* { font-family: 'Poppins'; }

.cont {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    .main-container {
        justify-content: center;
        align-items: center;
        .main-wrapper {
            display: flex;
            flex-direction: column;
           
            width: auto;
            // max-width: 49.4%;
            background: hsl(218deg 50% 91%);

            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            border-radius: 5px;

            .title-wrapper {
                text-align: center;
                margin: 20px 0 0 0  ;
                h3 {
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 1.6em;
                    font-weight: 500;
                    color: hsl(233deg 36% 38%);
                }
            }

            .register-wrapper {

                .name-wrapper {
                    display: flex;
                    flex-direction: row;
                }
                .input-wrapper {
                    font-weight: 600;
                    background: hsl(0deg 0% 100%);
                    box-shadow: 0 0 2em hsl(231deg 62% 94%);
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    border-radius: 20px;
                    color: hsl(0deg 0% 30%);
                    margin: 1.2em 20px 1em 20px;
                    input {
                        outline: none;
                        border: none;
                        &::placeholder {
                            color: hsl(0deg 0% 0%);
                            font-size: 0.9em;
                        }
                }

                i {
                    color: hsl(0deg 0% 30%);
                    margin-top: -2.299em;
                    font-size: 15px;
                }
                }

                .input-wrapper-red {
                    
                    background: hsl(0deg 0% 100%);
                    box-shadow: 0 0 2em hsl(231deg 62% 94%);
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    border-radius: 20px;
                    border: 1px solid red;
                    color: hsl(0deg 0% 30%);
                    margin: 1.2em 20px 1em 20px;
                    input {
                        outline: none;
                        border: none;
                        &::placeholder {
                            color: hsl(0deg 0% 0%);
                            font-size: 0.9em;
                        }
                }

                p {
                    font-size: 12px;
                    color: rgb(253, 39, 39);
                    font-weight: 500;
                    margin-bottom: -14px;
                }
               

                i {
                    color: hsl(0deg 0% 30%);
                    margin-top: -2.299em;
                    font-size: 15px;
                }
                }
                .agb-wrapper {
                
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 465px;

                    .hold-wrapper {
                      
                      font-size: 12px;
                      color: hsl(0deg 0% 30%);
                    }
                    .hold-wrapper-agb {
                        display: flex;
                        flex-direction: row;
                       
                        font-size: 12px;
                      color: rgb(0, 0, 0);
                      margin-top: 20px;
                      margin-left: 20px;
                      font-weight: 500;
                      width: 92%;
                      input {
                        outline: none;
                        position: relative;
                        bottom: 24px;
                        border: 2px solid red;
                        
                      }
                      p {
                        margin-left: 10px;
                      }
                    }
                }
            }

            .confirm-wrapper {
                margin-top: 10px;
                text-align: center;
                .confirm-btn {
                    padding: 1em 9%;
                    background: hsl(233deg 36% 38%);
                    color: hsl(0 0 100);
                    border: 2px solid hsl(233deg 36% 38%);
                    border-radius: 30px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    &:hover {
                        font-weight: 600;
                        cursor: pointer;
                        color: hsl(233deg 36% 38%);
                        background-color: white;
                        transition: all .3s ease;
                        border: 2px solid hsl(233deg 36% 38%);
                    }
                    
                }
            }
           
           
        }
    }
}

